strict-ssl=true
@marketwall:registry=http://10.0.0.13:4873
//registry.npmjs.org/:_authToken=a73b7853-b55e-421b-a0d8-f9b11a8cf8e8
10.0.0.13:4873/:_authToken="2ZA6NQ9Llq3ifUUoKyNsVeJD93pLn/ECtE5+eyvdEjY="
